In [8]:
import pandas as pd

In [9]:
lat_df = pd.read_csv("data/latitude.csv")
lon_df = pd.read_csv("data/longitude.csv")

In [10]:
lat_list = []
long_list = []
for lat in lat_df:
    lat_list.append(lat)
for lon in lon_df:
    long_list.append(lon)

In [13]:
print(len(lat_list))
print(len(long_list))

2580
2580

In [16]:
df = pd.DataFrame()

In [17]:
df["Latitude"] = lat_list
df["Longitude"] = long_list

In [18]:
df

                  Latitude              Longitude
0               33.9533546           -117.3961623
1               39.2908816             -76.610759
2              48.86187795     2.3471384386899565
3               34.5591978            -85.2492702
4               30.6867339            -88.0848929
...                    ...                    ...
2575         20.07997805.1  -102.71597204457831.1
2576  19.434325299999998.3   -99.07325169426676.3
2577          19.5685916.3          -99.0659791.3
2578          25.7645823.3         -100.2938039.3
2579          22.3125986.1   113.91732378641939.1

[2580 rows x 2 columns]